<a href="https://colab.research.google.com/github/Pedropschagas/Atividades-AI/blob/main/Atividade_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Atividade AI**

##1. Carregando Dados

In [1]:
import pandas as pd
import seaborn as sns

In [2]:
from seaborn import load_dataset
df = load_dataset('titanic')
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

##2. Ajustando colunas e retirando os valores NaN
- As colunas 'class' e 'plass', exibem a mesma informação para o propósito em questão.

In [3]:
df = df.drop(columns = ['class','deck','alive','adult_male','embark_town','sex'])
df = df.dropna()

In [4]:
df

     survived  pclass   age  sibsp  parch     fare embarked    who  alone
0           0       3  22.0      1      0   7.2500        S    man  False
1           1       1  38.0      1      0  71.2833        C  woman  False
2           1       3  26.0      0      0   7.9250        S  woman   True
3           1       1  35.0      1      0  53.1000        S  woman  False
4           0       3  35.0      0      0   8.0500        S    man   True
..        ...     ...   ...    ...    ...      ...      ...    ...    ...
885         0       3  39.0      0      5  29.1250        Q  woman  False
886         0       2  27.0      0      0  13.0000        S    man   True
887         1       1  19.0      0      0  30.0000        S  woman   True
889         1       1  26.0      0      0  30.0000        C    man   True
890         0       3  32.0      0      0   7.7500        Q    man   True

[712 rows x 9 columns]

##3. Transformando os atributos categóricos com One-Hot Encoder

In [5]:
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import OneHotEncoder

In [15]:
c_trans = make_column_transformer((OneHotEncoder(), ['alone','who','embarked']), remainder='passthrough')

In [19]:
final_df = pd.DataFrame(data=c_trans.fit_transform(df), columns=c_trans.get_feature_names_out())
final_df = final_df.drop('onehotencoder__alone_False', axis=1)

In [26]:
final_df.columns = ['Alone','Child','Man','Woman','Cherboug_embarked','Queenstown_embarked','Southampton_embarked','Survived','Class','Age','Sibsp','Parch','Fare']
final_df

,Alone,Child,Man,Woman,Cherboug_embarked,Queenstown_embarked,Southampton_embarked,Survived,Class,Age,Sibsp,Parch,Fare
0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,3.0,22.0,1.0,0.0,7.2500
1,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,38.0,1.0,0.0,71.2833
2,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,3.0,26.0,0.0,0.0,7.9250
3,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,35.0,1.0,0.0,53.1000
4,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,3.0,35.0,0.0,0.0,8.0500
...,...,...,...,...,...,...,...,...,...,...,...,...,...
707,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,3.0,39.0,0.0,5.0,29.1250
708,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,2.0,27.0,0.0,0.0,13.0000
709,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,19.0,0.0,0.0,30.0000
710,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,26.0,0.0,0.0,30.0000
711,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,3.0,32.0,0.0,0.0,7.7500

##4. Separando os dados de Treinamento e teste

- A coluna Target é a 'Survived'.

In [30]:
y = final_df['Survived']
X = final_df.drop(labels=['Survived'], axis=1)

In [31]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=None, stratify=y)

##5. Treinando duas árvores sob parâmetros diferentes

In [35]:
from sklearn.tree import DecisionTreeClassifier

model1 = DecisionTreeClassifier(criterion= 'gini', max_depth=4)
model2 = DecisionTreeClassifier(criterion='entropy', max_depth=2)

model1.fit(X_train, y_train)
model2.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=2)

##6. Treinando dois kNN sob parâmetros diferentes

In [47]:
from sklearn.neighbors import KNeighborsClassifier

knn1 = KNeighborsClassifier(n_neighbors=5, metric='euclidean', algorithm='brute')
knn2 = KNeighborsClassifier(n_neighbors=5, metric='minkowski', algorithm='kd_tree')

knn1.fit(X_train, y_train)
knn2.fit(X_train, y_train)

KNeighborsClassifier(algorithm='kd_tree')

In [55]:
from sklearn import metrics

tree_result1 = model1.predict(X_test)
tree_result2 = model2.predict(X_test)
knn_result1 = knn1.predict(X_test)
knn_result2 = knn2.predict(X_test)

acc1 = metrics.accuracy_score(tree_result1, y_test)
show1 = round(acc1 * 100)
print("DecisionTreeClassifier(criterion= 'gini', max_depth=4) -> {}%".format(format(show1)))

acc2 = metrics.accuracy_score(tree_result2, y_test)
show2 = round(acc2 * 100)
print("DecisionTreeClassifier(criterion= 'entropy', max_depth=2) -> {}%".format(format(show2)))

acc3 = metrics.accuracy_score(knn_result1,y_test)
show3 = round(acc3 * 100)
print("KNeighborsClassifier(n_neighbors=5, metric='euclidean', algorithm='brute') -> {}%".format(format(show3)))

acc4 = metrics.accuracy_score(knn_result2,y_test)
show4 = round(acc4 * 100)
print("KNeighborsClassifier(n_neighbors=5, metric='minkowski', algorithm='kd_tree') -> {}%".format(format(show4)))

DecisionTreeClassifier(criterion= 'gini', max_depth=4) -> 84%
DecisionTreeClassifier(criterion= 'entropy', max_depth=2) -> 82%
KNeighborsClassifier(n_neighbors=5, metric='euclidean', algorithm='brute') -> 66%
KNeighborsClassifier(n_neighbors=5, metric='minkowski', algorithm='kd_tree') -> 64%